.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--secondary-blue);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    gap: 2rem;
}

.containerBackBtn {
    width: 100%;
    height: 40px;
    position: relative;
}

.backBtn {
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 1.8rem;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
}

.backBtn:hover {
    transform: scale(1.1);
}

.menuItens {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menuItens a {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-green);
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s ease;
    text-decoration: none;
}

.menuItens a:hover {
    background-color: var(--primary-blue);
    color: #fff;
    transform: scale(1.05);
}