.container {
    width: 100%;
}

.searchInput {
    flex-grow: 1;
    padding: 10px;
    font-weight: 500;
    font-size: .9rem;
    border: 1px solid var(--primary-black);
    text-align: start;
}

.dropdown {
    border: 1px solid var(--primary-black);
    max-height: 150px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(170, 88, 88, 0.1);
    overflow-y: auto;
    margin-bottom: 0;
}

.dropdownItem {
    padding: 4px;
    cursor: pointer;
    margin-bottom: 0;
    color: var(--primary-black);
}

.dropdownItem:hover {
    border-radius: 4px;
    background-color: #0078D7;
    color: #fff;
}

.noResults {
    padding: 5px;
    color: #999;
    font-style: italic;
}

.selectedContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.selectedTag {
    width: fit-content;
    border-radius: 20px;
    padding: 6px 10px;
    background-color: var(--primary-green);
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 12px;
    margin-bottom: 0;
}

.removeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.removeButton:hover {
    transform: scale(1.05);
}

.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

.toggleButton {
    position: absolute;
    right: 1px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary-black);
    font-size: 16px;
}

.toggleButton:hover {
    color: var(--secondary-blue);
}

.highlighted {
    background-color: #0078D7;
    color: #fff;
}