.formBg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-white);
}

form {
    width: 100%;
    max-width: 500px;
}

h2 {
    margin-bottom: 25px;
    color: var(--primary-black);
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--primary-black);
}

input[type="file"],
input[type="number"] {
    padding: 10px;
    border: 1px solid var(--primary-green);
    border-radius: 4px;
    font-size: 14px;
    text-align: start;
}