.listContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    margin: 25px 0 15px ;
}

.titleAndIcons {
    display: flex;
    justify-content: space-between;
}

.content {
    margin: 20px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.content button {
    margin-top: 25px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: calc(3 * 300px + 2 * 30px);
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 220px;
    max-width: 90%;
    border: 2px solid var(--primary-green);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-white);
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    margin-bottom: 12px;
}

.btnContainer {
    margin: auto auto 0;
    display: flex;
    gap: 10px;
}