.wrapper {
    max-width: 800px;
    width: 90%;
    background: var(--primary-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem 0;
}

.title {
    color: var(--primary-black);
    margin-bottom: 20px;
}

.summary {
    background: #fff;
    border: 1px solid var(--secondary-blue);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.summary h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.summaryList {
    text-align: left;
    padding: 0;
    list-style-position: inside;
}

.summaryList li {
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-blue);
    font-weight: bold;
}

.summaryList li:hover {
    text-decoration: underline;
}

.content {
    text-align: left;
}

.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-green);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.scrollToTop:hover {
    opacity: 1;
}

@media (max-width: 1025px) {
    .wrapper {
        padding: 20px;
    }

    .title {
        font-size: 1.8rem;
    }

    .summary h2 {
        font-size: 1.5rem;
    }

    .summaryList li {
        font-size: 1.2rem;
    }

}

@media (max-width: 900px) {
    .wrapper {
        padding: 15px;
    }

    .summary h2 {
        font-size: 1.3rem;
    }

    .summaryList li {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 90%;
        padding: 10px;
    }

    .title {
        font-size: 1.5rem;
    }

    .summary h2 {
        font-size: 1.2rem;
    }

    .summaryList li {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 1.3rem;
    }

    .summary h2 {
        font-size: 1rem;
    }

    .summaryList li {
        font-size: 0.85rem;
    }
}