.header {
    width: 100%;
    background: var(--primary-white);
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.btnMenu {
    position: absolute;
    left: 1rem;
}

.btnMenu,
.btnLogout,
.btnPerson {
    font-size: 35px;
    cursor: pointer;
    color: var(--primary-black);
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}

.btnMenu:hover,
.btnLogout:hover,
.btnPerson:hover {
    opacity: 1;
}

.header h1 {
    font-size: 1.5rem;
    color: var(--primary-black);
    cursor: pointer;
}

.rightOptionsContainer {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    right: 1rem;
}

.header img {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px #3dcfbc;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.header img:hover {
    opacity: 1;
}

.personOptions {
    position: absolute;
    top: 57px;
    right: 15px;
    background-color: var(--primary-white);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 130px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.personOptions.active {
    opacity: 1;
    visibility: visible;
}

.personOption {
    color: var(--primary-black);
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.personOption:hover {
    background-color: var(--secondary-blue);
    color: #fff;
}

@media (max-width: 770px) {
    .header {
        height: auto;
        padding: 10px 1rem;
        justify-content: center;
    }

    .btnContainer {
        left: 1rem;
    }

    .btnMenu,
    .btnLogout {
        font-size: 30px;
    }

    .header h1 {
        font-size: 1.25rem;
    }

    .header img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .btnMenu,
    .btnLogout {
        font-size: 25px;
    }

    .header h1 {
        font-size: 1rem;
        max-width: calc(100% - 110px);
    }

    .header img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 420px) {
    .header img {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 380px) {
    .header h1 {
        font-size: .9rem;
    }

    .btnMenu,
    .btnLogout {
        font-size: 22px;
    }

    .header img {
        width: 27px;
        height: 27px;
    }
}

@media (max-width: 345px) {
    .btnMenu,
    .btnLogout {
        font-size: 20px;
    }

    .header img {
        width: 25px;
        height: 25px;
    }
}