.wrapper {
    max-width: 900px;
    width: 90%;
    background: var(--primary-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem 0;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--secondary-blue);
}

.description {
    padding: 0 15px;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: var(--primary-black);
    margin-top: 1rem;
}

.participantContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.participantContainer div {
    flex: 1 1 calc(25% - 1rem);
    max-width: 250px;
    min-width: 160px;
    margin-top: 2rem;
}

.span {
    color: var(--secondary-blue);
}

.participantName {
    margin: .5rem 0 1.5rem;
    font-size: 1.1rem;
}

@media (max-width: 1025px) {
    .wrapper {
        padding: 20px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        padding: 15px;
    }

    .participantName {
        font-size: .9rem;
    }

    .description {
        font-size: 1.1rem;
    }

    .image {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 90%;
        padding: 10px;
    }

    .participantName {
        font-size: .8rem;
    }

    .description {
        font-size: 1rem;
    }

    .image {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 400px) {
    .participantName {
        font-size: .7rem;
        margin-bottom: 0;
    }

    .description {
        font-size: .9rem;
    }

    .image {
        width: 80px;
        height: 80px;
    }

    .participantContainer div {
        margin-top: 0;
    }
}