.wrapper {
    max-width: 900px;
    width: 90%;
    background: var(--primary-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem 0;
}

.aboutSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
}

.aboutImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    border: 2px solid var(--secondary-blue);
}

.aboutText,
.aboutDescription {
    padding: 0 15px;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: var(--primary-black);
}

.aboutDescription {
    margin-top: 1rem;
}

.span {
    color: var(--secondary-blue);
}

@media (max-width: 1025px) {
    .wrapper {
        padding: 20px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        padding: 15px;
    }

    .aboutSection {
        width: 95%;
    }

    .aboutText,
    .aboutDescription {
        font-size: 1.1rem;
    }

    .aboutImage {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 90%;
        padding: 10px;
    }

    .aboutSection {
        margin-bottom: 1.5rem;
    }

    .aboutText,
    .aboutDescription {
        font-size: 1rem;
    }

    .aboutImage {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 400px) {

    .aboutText,
    .aboutDescription {
        font-size: 0.9rem;
    }

    .aboutImage {
        width: 80px;
        height: 80px;
    }
}