.wrapper {
    max-width: 900px;
    width: 90%;
    background: var(--primary-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem 0;
}

.description {
    padding: 0 15px;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: var(--primary-black);
    margin-top: 1rem;
}

.span {
    color: var(--secondary-blue);
}

@media (max-width: 1025px) {
    .wrapper {
        padding: 20px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        padding: 15px;
    }

    .description {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 90%;
        padding: 10px;
    }

    .description {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .description {
        font-size: .9rem;
    }
}