:root {
    --primary-blue: #15C0CC;
    --secondary-blue: #0E959A;
    --primary-white: #eee;
    --primary-green: #013E40;
    --primary-black: #2A2B2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.background {
    width: 100%;
    height: 85%;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: relative;
}
