.nav {
    background-color: var(--primary-white);
    padding: 3px 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: auto; /* Ativa a rolagem horizontal quando o conteúdo exceder a largura */
    white-space: nowrap; /* Impede que os itens se quebrem para a próxima linha */
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
    opacity: 0.8;
}

.button:hover {
    background-color: var(--primary-green);
    color: white;
}

.active {
    opacity: 1;
    border-bottom: 2px solid var(--primary-green);
}

.span {
    font-size: 14px;
    color: var(--primary-green);
    font-weight: 600;
    margin: -20px 0 20px;
}