.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--primary-black);
}

.form {
    background: var(--primary-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.inputGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.input {
    padding: 10px;
    border: 1px solid var(--primary-green);
    border-radius: 5px;
    font-size: 14px;
    background: #fff;
    color: var(--primary-black);
    text-align: start;
}

.form button:hover {
    border: 1px solid var(--primary-green);
}

@media (max-width: 1024px) {
    .form {
        width: 600px;
        padding: 30px;
    }
}

@media (max-width: 920px) {
    .form {
        width: 400px;
        padding: 25px;
    }

    .input {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .form {
        padding: 25px 15px;
    }

    .input {
        font-size: 14px;
        padding: 8px;
    }

    .label {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 18px;
    }

    .input {
        font-size: 12px;
        padding: 6px;
    }

    .label {
        font-size: 10px;
    }
}